..gitignore.un~
.fake/
.gitignore~
.paket/
TestResult.xml
build/
packages/
tests
src/CafeApp.Core.Tests/obj/
src/CafeApp.Core/obj/
.gitignore.swp
src/CafeApp.Core.Tests/bin/
src/CafeApp.Core/bin/
/VSCafeApp/v15/.suo
.vs/
src/CafeApp.Core/bin/*
